<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/master :: head"></head>
<body>
    <header th:replace="layouts/master :: header"></header>
    <main role="main" class="container">
        <h1 class="mt-5">Billing & Print WAS</h1>
        <p class="lead">Web Application Service for your's billings and prints documents</p>
        <p>Use <a href="">this app anywhere</a> if need be, too...</p>
    </main>
    <footer th:replace="layouts/master :: footer"></footer>
</body>
</html>